nav {
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
}
ul {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

ul li {
  padding-right: 10em;
}
header {
  position: sticky;
  top: 0;
  background-color: #ffb3ec;
  width: 100vw;
  display: flex;
}

nav:hover {
  background-color: #ffb3ec;
}

nav h2 {
  display: flex;
  align-items: center;
}
.logo {
  width: 15vw;
}
.logo p {
  margin-left: 10px;
}

.logo img {
  width: 100px;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
  font-family: "DynaPuff", serif;
  list-style: none;
  justify-content: left;
  /*display: none; when on mobile and I want them hidden*/
}

.active-navbar {
  color: white;
}

.section-active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 3em;
}

/* Hamburger menu for mobile version*/
