@import url("https://fonts.googleapis.com/css2?family=DynaPuff&family=Play&family=Righteous&family=Rubik+Marker+Hatch&display=swap");
@import url(cards-style.css);
@import url(nav-bar-style.css);
@import url(form-style.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

html {
  overflow-x: hidden;
}

:root {
  font-family: "Righteous", "Courier New", Courier, monospace;
}

body {
  display: grid;
  grid-template-areas:
    "header header"
    "article article"
    "main main"
    "main main"
    "main main"
    "footer footer";
  grid-template-columns: 50% 50%;
}

/* This is for the introduction*/
article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  font-size: 1rem;
  grid-area: article;
  font-family: "Play", serif;
  padding: 10px;
  margin: 50px 0 0 50px;
  width: 90vw;
}

blockquote {
  font-style: italic;
  padding: 10px;
}

cite p {
  font-weight: bold;
}

/*This is the layout of the cards*/

/*This is for the footer */

footer {
  grid-area: footer;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

/* This is the contact info*/

.contact-info {
  width: 100vw;
  height: 300px;
  background-color: #ffe6f9;
  margin-top: 20px;
}

.contact-info img {
  height: 50px;
  width: 50px;
}

.contact-info h2 {
  height: 110px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-family: "DynaPuff", serif;
}

.contact-cards {
  width: 100%;
  height: 150px;
  display: flex;
  align-self: flex-end;
  justify-content: space-evenly;
}

.contact-cards h3 {
  font-size: 2em;
  font-family: "DynaPuff", serif;
}

.contact-cards p {
  font-family: "Play", serif;
  font-size: 1em;
}

/* This is the information footer*/

.socials-info {
  height: 300px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffb3ec;
}

.socials-info h3 {
  font-size: 2em;
  font-family: "DynaPuff", serif;
}

.social-media img {
  width: 3vw;
}

.something p {
  font-family: "Play", serif;
}

/* This is the copyright footer */

.copy-r {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  background-color: #800062;
}

/* CSS for laptop*/

@media screen and (max-width: 1024px) and (min-width: 781px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "article"
      "main"
      "footer";
  }

  nav {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "logo" "ul";
    justify-items: center;
    align-items: end;
    font-size: 1.15em;
  }

  article {
    font-size: 1em;
  }

  main {
    align-self: center;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    font-size: 1.15em;
  }

  .card {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card h3 {
    font-size: 1.25em;
  }
}

/*CSS for tablet*/

@media screen and (max-width: 780px) and (min-width: 361px) {
  nav {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "logo" "ul";
    justify-items: end;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .logo {
    width: 100px;
  }

  article {
    width: 100vw;
    margin: 0;
    font-size: 1em;
    border: 1px dashed #ffb3ec;
  }

  main {
    margin: 0;
    width: 100%;
  }

  #suggestions {
    margin: 0;
    width: 100%;
  }

  .card {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card h3 {
    font-size: 1.25em;
  }

  .contact-info {
    width: 100vw;
    font-size: 1em;
  }

  .contact-cards {
    display: flex;
    justify-content: space-evenly;
  }

  .contact-cards h3 {
    font-size: 1.25em;
  }

  .contact-cards p {
    font-size: 1em;
  }

  .socials-info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100vw;
    padding-left: 20px;
  }

  .socials-info img {
    width: 7vw;
  }

  .social-media {
    font-size: 0.5em;
  }

  .something h3 {
    font-size: 1.1em;
  }

  .something {
    font-size: 1em;
  }

  #ham-menu {
    width: 125px;
    display: flex;
    justify-content: flex-start;
    float: right;
  }
  #h__menu {
    display: flex;
    flex-direction: column;
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
  }

  #h__menu span {
    height: 5px;
    width: 100%;
    background-color: black;
    display: block;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  span:not(:last-child) {
    margin-bottom: 5px;
  }

  #h__menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  #h__menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #h__menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  #navigation {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    background-color: #ffe6f9;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  #navigation.active {
    left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: stretch;
  }

  .active-navbar {
    position: sticky;
    top: 0;
    color: #800062;
  }
}

/* CSS for mobile */

@media screen and (max-width: 360px) {
  nav {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "logo" "ul";
    justify-items: end;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  article {
    width: 100vw;
    margin: 0;
    font-size: 0.85em;
    border: 1px dashed #ffb3ec;
  }

  main {
    align-self: center;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }

  footer {
    width: 100vw;
  }

  .logo {
    width: 100px;
  }
  .card {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card h3 {
    font-size: 1.25em;
  }

  .contact-info {
    font-size: 1em;
  }

  .contact-cards {
    display: flex;
    justify-content: space-evenly;
  }

  .contact-cards h3 {
    font-size: 1em;
  }

  .contact-cards p {
    font-size: 0.6em;
  }

  .socials-info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }

  .socials-info img {
    width: 9vw;
  }

  .social-media {
    font-size: 0.5em;
  }

  .something h3 {
    font-size: 1.5em;
  }

  .something {
    font-size: 0.7em;
  }
  #ham-menu {
    width: 125px;
    display: flex;
    justify-content: center;
    float: right;
  }
  #h__menu {
    display: flex;
    flex-direction: column;
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
  }

  #h__menu span {
    height: 5px;
    width: 100%;
    background-color: black;
    display: block;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  span:not(:last-child) {
    margin-bottom: 5px;
  }

  #h__menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  #h__menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #h__menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  #navigation {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    background-color: #ffe6f9;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  #navigation.active {
    left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: flex-end;
  }

  .active-navbar {
    position: sticky;
    top: 0;
    color: #800062;
  }
}
